<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <deliverydate_options>
            <activation>
                <module>1</module>
                <required>1</required>
                <daydisable>sunday</daydisable>
                <datedisable></datedisable>
                <mindate>0</mindate>
                <maxdate>30</maxdate>
                <productwise>0</productwise>
                <dateformat>dd/mm/yy</dateformat>
            </activation>
            <order>
                <enabled>0</enabled>
                <required>1</required>
                <daydisable>sunday</daydisable>
                <datedisable></datedisable>
                <mindate>0</mindate>
                <maxdate>30</maxdate>
                <dateformat>dd/mm/yy</dateformat>
            </order>
        </deliverydate_options>
    </default>
</config>
